---
import { Icon } from 'astro-icon'
---

<section class='min-h-[calc(100vh-68px)] flex items-center border-b border-border py-14' id='services'>
  <div class='text-center hide'>
    <h2 class='text-4xl font-bold mb-10'>
      <span class='text-black dark:text-white'>Who</span>
      <span class='[-webkit-background-clip:text] bg-gradient-to-tr from-main-3 via-main-4 to-main-2 text-transparent'
        >We Are</span
      >
    </h2>
    <div class='grid grid-cols-1 lg:grid-cols-3 gap-4'>
      <div>
        <div class='flex justify-center'>
          <Icon name='service1' class='h-48 sm:h-56' />
        </div>
        <div class='text-7xl text-main-1'>4x</div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, tenetur!</div>
      </div>
      <div>
        <div class='flex justify-center'>
          <Icon name='service2' class='h-48 sm:h-56' />
        </div>
        <div class='text-7xl text-main-1'>4x</div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, tenetur!</div>
      </div>
      <div>
        <div class='flex justify-center'>
          <Icon name='service3' class='h-48 sm:h-56' />
        </div>
        <div class='text-7xl text-main-1'>4x</div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, tenetur!</div>
      </div>
    </div>
  </div>
</section>
