---
import { Icon } from 'astro-icon'
---

<section class='min-h-[calc(100vh-68px)] flex items-center border-b border-border py-14'>
  <div class='text-center hide'>
    <!-- <div class='dark:bg-dark-3 px-4 py-1 rounded-lg font-bold w-max mx-auto mb-3'>
      <span class='[-webkit-background-clip:text] bg-gradient-to-tr from-main-3 via-main-4 to-main-2 text-transparent'>
        We have worked on some Groundbreaking Ideas
      </span>
    </div> -->
    <div class='flex items-center flex-col sm:flex-row space-y-8 lg:space-x-20'>
      <div class='flex-1'>
        <h2 class='text-4xl font-bold mb-6 dark:text-white text-black text-left'>VR Affects 5 Parts of the Brain</h2>
        <p class='text-lg text-justify mb-8 sm:mb-0'>
          We are one of the few companies in the world to have researched on how VR experiences affect our brain in
          real-time. This was made possible by exposing the subjects to relatively changing experiences and
          simultaneously attempting to draw visual stimulation from EEG headsets.
        </p>
      </div>
      <div class='flex-[1]'>
        <img src='/research.png' class='h-56 sm:h-96' />
      </div>
    </div>
  </div>
</section>
