---
import { Icon } from 'astro-icon';
---

<section class='min-h-[calc(100vh-68px)] flex items-center border-b border-border py-14'>
  <div class='text-center hide'>
    <div class='dark:bg-dark-3 px-4 py-1 rounded-lg font-bold w-max mx-auto mb-3'>
      <span class='[-webkit-background-clip:text] bg-gradient-to-tr from-main-3 via-main-4 to-main-2 text-transparent'>
        Join The Future
      </span>
    </div>
    <div class='flex items-center flex-col sm:flex-row'>
      <div class='flex-1'>
        <Icon name='future' class='h-56 sm:h-96' />
      </div>
      <div class='flex-[2]'>
        <h2 class='text-4xl font-bold mb-6 dark:text-white text-black'>A Bond Between Human and Digital Interaction</h2>
        <p class='text-lg mb-8'>
          Our interactive and immersive Augmented Reality, Virtual Reality solutions and technologies are carefully
          designed to cater to both learning and development through real world simulations as well as controlled
          experimental environments.
        </p>
      </div>
    </div>
  </div>
</section>
