---
import { Icon } from 'astro-icon'
---

<section class='min-h-[calc(100vh-68px)] flex items-center border-b border-border py-14'>
  <div class='flex items-center flex-col lg:flex-row space-y-8 lg:space-x-20'>
    <div class='flex-[2] text-center lg:text-left'>
      <h1 class='text-black dark:text-white text-4xl sm:text-5xl mb-2'>
        Plug and Play<br /> Scalable Metaverse Labs
        <!-- <span
          class='[-webkit-background-clip:text] bg-gradient-to-tr from-main-3 via-main-4 to-main-2 text-transparent'
          >labs</span
        > -->
      </h1>
      <!-- <div class='text-3xl mb-2'>
        <span
          class='[-webkit-background-clip:text] bg-gradient-to-tr from-main-3 via-main-4 to-main-2 text-transparent'
        >
          Always ready to empower Smart Industries
        </span>
      </div> -->
      <p
        class='[-webkit-background-clip:text] bg-gradient-to-tr from-main-3 via-main-4 to-main-2 text-transparent text-justify text-3xl mb-12 leading-10'
      >
        We help enterprises combine the benefits of role-play based training with the scalability, consistency, and
        measurability of a digital solution.
      </p>
      <a
        href='/contact'
        class='text-white rounded-lg text-lg font-semibold px-8 py-4 bg-gradient-to-tr from-main-3 via-main-4 to-main-2 box-shadow-1 duration-300'
      >
        Get a Demo &rarr;</a
      >
    </div>
    <div class='flex-[1]'>
      <img src='/girlVR.png' />
    </div>
  </div>
</section>
