---
import { Icon } from 'astro-icon';
---

<section class='min-h-[calc(100vh-68px)] flex items-center border-b border-border py-14'>
  <div class='text-center hide'>
    <!-- <div class='dark:bg-dark-3 px-4 py-1 rounded-lg font-bold w-max mx-auto mb-3'>
      <span class='[-webkit-background-clip:text] bg-gradient-to-tr from-main-3 via-main-4 to-main-2 text-transparent'>
        Join The Future
      </span>
    </div> -->
    <div class='flex items-center flex-col sm:flex-row space-y-8 lg:space-x-20'>
      <div class='flex-[1]'>
        <img src='/simulators.png' class='h-56 sm:h-96' />
      </div>
      <div class='flex-[2]'>
        <h2 class='text-4xl font-bold mb-6 dark:text-white text-black'> Million-Dollar Machines, A Click Away.</h2>
        <p class='text-lg text-justify mb-8'>
          Bringing multi-operator vehicles in VR and coupling them with real world systems gave us the power to build data-driven simulations, extracting valuable training data for our clients. This helped us bring training costs to about 1/4th of the traditional simulators.
        </p>
      </div>
    </div>
  </div>
</section>
