---
import { Icon } from 'astro-icon'
---

<section class='min-h-[calc(100vh-68px)] flex items-center border-b border-border py-14'>
  <div class='text-center w-full hide'>
    <div class='dark:bg-dark-3 px-4 py-1 rounded-lg font-bold w-max mx-auto mb-3'>
      <span class='[-webkit-background-clip:text] bg-gradient-to-tr from-main-3 via-main-4 to-main-2 text-transparent'>
        Media & Coverage
      </span>
    </div>
    <div class='grid place-content-center grid-cols-3 lg:grid-cols-5 gap-x-10 gap-y-20 mt-10'>
      <a href='https://www.google.com' target='_blank'><Icon name='react' class='w-20 h-20 mx-auto' /></a>
      <Icon name='vue' class='w-20 h-20 mx-auto' />
      <Icon name='svelte' class='w-20 h-20 mx-auto' />
      <Icon name='angular' class='w-20 h-20 mx-auto' />
      <Icon name='node' class='w-20 h-20 mx-auto' />
      <Icon name='nest' class='w-20 h-20 mx-auto' />
      <Icon name='typescript' class='w-20 h-20 mx-auto' />
      <Icon name='tailwind' class='w-20 h-20 mx-auto' />
      <Icon name='flutter' class='w-20 h-20 mx-auto' />
      <Icon name='firebase' class='w-20 h-20 mx-auto' />
      <Icon name='apple' class='w-20 h-20 mx-auto' />
      <Icon name='android' class='w-20 h-20 mx-auto' />
      <Icon name='unity' class='w-20 h-20 mx-auto' />
      <Icon name='vr' class='w-20 h-20 mx-auto' />
      <Icon name='vite' class='w-20 h-20 mx-auto' />
    </div>
  </div>
</section>
