---
import { Icon } from 'astro-icon'
---

<section class='min-h-[calc(100vh-68px)] flex items-center border-b border-border py-14'>
  <div class='text-center w-full hide'>
    <div class='dark:bg-dark-3 px-4 py-1 rounded-lg font-bold w-max mx-auto mb-3'>
      <span class='[-webkit-background-clip:text] bg-gradient-to-tr from-main-3 via-main-4 to-main-2 text-transparent'>
        Recognition and Collaborations
      </span>
    </div>
    <div class='grid place-content-center grid-cols-3 lg:grid-cols-5 gap-x-10 gap-y-20 mt-10'>
      <img src='/MBRinitiative.png' class='w-60 h-20 mx-auto' />
      <img src='/mitSolve.jpg' class='w-60 h-20 mx-auto' />
      <img src='/unhcr-logo.png' class='w-60 h-10 mx-auto' />
      <img src='/USembassyLogo.png' class='w-40 h-40 mx-auto' />
      <img src='/founder.png' class='w-60 h-30 mx-auto' />
      <img src='/cambridge.png' class='w-60 h-30 mx-auto' />
      <img src='/Binance.png' class='w-60 h-30 mx-auto' />
      <img src='/undp-logo.png' class='w-60 h-30 mx-auto' />
      <img src='/epicgames.png' class='w-40 h-40 mx-auto' />
      <img src='/nustlogo.png' class='w-40 h-40 mx-auto' />
      
    </div>
  </div>
</section>
