<section class='min-h-[calc(100vh-68px)] flex items-center border-b border-border py-20' id='about'>
  <div class='text-center hide w-full'>
    <div class='dark:bg-dark-3 px-4 py-1 rounded-lg font-bold w-max mx-auto mb-10'>
      <span class='[-webkit-background-clip:text] bg-gradient-to-tr from-main-3 via-main-4 to-main-2 text-transparent'>
        Sense of presence in VR
      </span>
    </div>
    <iframe
      src='https://www.youtube.com/embed/Z3EIpAcGWZA'
      title='YouTube video player'
      frameborder='0'
      allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
      class='mx-auto lg:w-[840px] lg:h-[472.5px] sm:w-[560px] sm:h-[315px]'
      allowfullscreen></iframe>
  </div>
</section>
