---
import { Icon } from 'astro-icon'
---

<section class='min-h-[calc(100vh-68px)] flex items-center border-b border-border py-14' id='services'>
  <div class='text-center hide'>
    <div class='dark:bg-dark-3 px-4 py-1 rounded-lg font-bold w-max mx-auto mb-3'>
      <span class='[-webkit-background-clip:text] bg-gradient-to-tr from-main-3 via-main-4 to-main-2 text-transparent'>
        Our Key Elements
      </span>
    </div>
    <h2 class='text-4xl font-bold mb-6 dark:text-white text-black'>
      Unlocking scores of Opportunities for you
      <!-- We provide ground-breaking services to our<br />customers in almost every niche. -->
    </h2>
    <p class='text-lg mb-8'>
      Customers choose reminiscelabs because we offer a unique combination of expertise, personalized service, using
      latest tools and technologies. Our team of experienced professionals is dedicated to delivering exceptional
      results, and our commitment to innovation, quality & customer satisfaction, sets us apart in the industry. Whether
      you're looking to launch a new app, improve your web presence, or enhance your business with AR/VR technology, we
      have the skills and experience to bring your vision to life. Let us help you achieve your goals and reach new
      heights with technology.
    </p>
    <div class='flex flex-col lg:flex-row'>
      <div class='flex-1'>
        <div class='flex justify-center'>
          <Icon name='service1' class='h-48 sm:h-56' />
        </div>
        <h3 class='text-2xl font-bold'>
          <span
            class='[-webkit-background-clip:text] bg-gradient-to-tr from-main-3 via-main-4 to-main-2 text-transparent'
            >Web Services & Web-XR Experiences</span
          >
        </h3>
      </div>
      <div class='flex-1'>
        <div class='flex justify-center'>
          <Icon name='service2' class='h-48 sm:h-56' />
        </div>
        <h3 class='text-2xl font-bold'>
          <span
            class='[-webkit-background-clip:text] bg-gradient-to-tr from-main-3 via-main-4 to-main-2 text-transparent'
            >Mobile App Development</span
          >
        </h3>
      </div>
      <div class='flex-1'>
        <div class='flex justify-center'>
          <Icon name='hero' class='h-48 sm:h-56' />
        </div>
        <h3 class='text-2xl font-bold'>
          <span
            class='[-webkit-background-clip:text] bg-gradient-to-tr from-main-3 via-main-4 to-main-2 text-transparent'
            >AR / VR Interactive Solutions</span
          >
        </h3>
      </div>
    </div>
  </div>
</section>
