---
import { Icon } from 'astro-icon'
---

<section class='min-h-[calc(100vh-68px)] flex items-center border-b border-border py-14' id='stats'>
  <div class='text-center hide'>
    <!-- <div class='dark:bg-dark-3 px-4 py-2 rounded-lg font-bold w-max mx-auto mb-6 text-2xl'>
      <span class='[-webkit-background-clip:text] bg-gradient-to-tr from-main-3 via-main-4 to-main-2 text-transparent'>
        Why we use VR
      </span>
    </div>
    <h2 class='text-4xl mb-20'>
      <span class='text-black dark:text-white'>VR</span>
      <span class='[-webkit-background-clip:text] bg-gradient-to-tr from-main-3 via-main-4 to-main-2 text-transparent'
        >Learners Were</span
      >
    </h2> -->
    <div class='dark:bg-dark-3 px-4 py-1 rounded-lg font-bold w-max mx-auto mb-3'>
      <span class='[-webkit-background-clip:text] bg-gradient-to-tr from-main-3 via-main-4 to-main-2 text-transparent'>
        Why we use VR
      </span>
    
    </div>
      <br />
    <h2 class='text-4xl font-bold mb-20 dark:text-white text-black'>VR Learners Were</h2>
    <div class='grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4'>
      <div>
        <div class='text-7xl text-main-1 mb-4'>4x</div>
        <div>Faster to train than in classroom</div>
      </div>
      <div>
        <div class='text-7xl text-main-1 mb-4'>275%</div>
        <div>More confident to apply skills learned after training</div>
      </div>
      <div>
        <div class='text-7xl text-main-1 mb-4'>3.75x</div>
        <div>More emotionally connected to content than classroom learners</div>
      </div>
      <div>
        <div class='text-7xl text-main-1 mb-4'>4x</div>
        <div>More focused than their e-learning peers</div>
      </div>
    </div>
  </div>
</section>
