---
import { Icon } from 'astro-icon'
---

<section class='min-h-[calc(100vh-68px)] flex items-center border-b border-border py-14'>
  <div class='text-center hide'>
    <!-- <div class='dark:bg-dark-3 px-4 py-1 rounded-lg font-bold w-max mx-auto mb-3'>
      <span class='[-webkit-background-clip:text] bg-gradient-to-tr from-main-3 via-main-4 to-main-2 text-transparent'>
        We have worked on some Groundbreaking Ideas
      </span>
    </div> -->
    <div class='flex items-center flex-col sm:flex-row space-y-8 lg:space-x-20'>
      <div class='flex-1'>
        <h2 class='text-4xl font-bold mb-6 dark:text-white text-black'>Tourism and Heritage</h2>
        <p class='text-lg text-justify mb-8'>
          Travel back in time to ancient locations with our preservation scans. Ever imagined of visiting thousands of years old sites in all their glory, meeting their people, learning their culture and even purchasing souvenirs from their world? In this state-funded project, we explore the boundaries of what XR can do in terms escapism for museums and mass audiences.

        </p>
      </div>
      <div class='flex-[1]'>
        <img src='/Tourism.png' class='h-46 sm:h-96' />
      </div>
    </div>
  </div>
</section>
