---
import { Icon } from 'astro-icon'
---

<section class='min-h-[calc(100vh-68px)] flex items-center border-b border-border py-14'>
  <div class='text-center hide'>
    <div class='dark:bg-dark-3 px-4 py-1 rounded-lg font-bold w-max mx-auto mb-3'>
      <span class='[-webkit-background-clip:text] bg-gradient-to-tr from-main-3 via-main-4 to-main-2 text-transparent'>
        Why Us ?
      </span>
    </div>
    <div class='flex items-center flex-col sm:flex-row'>
      <div class='flex-1'>
        <h2 class='text-4xl font-bold mb-6 dark:text-white text-black'>Elevate Your Digital Presence</h2>
        <p class='text-lg mb-8'>
          reminiscelabs is the perfect partner for all your website and application design & development needs, with a
          set of intuitive tools and creative professionals to enable you to build a website or app that looks and
          functions just how you imagined.
        </p>
      </div>
      <div class='flex-1'>
        <Icon name='whyus' class='h-56 sm:h-96' />
      </div>
    </div>
  </div>
</section>
