---
import { Icon } from 'astro-icon'
---

<footer class='bg-light-1 dark:bg-dark-1 border-t border-border'>
  <div
    class='px-4 xl:max-w-6xl 2xl:max-w-7xl lg:max-w-4xl md:max-w-2xl mx-auto py-10 flex items-center justify-between flex-col md:flex-row space-y-4'
  >
    <!-- logo -->
    <div class='w-full'>
      <div class='flex items-center space-x-0.5'>
        <div class='text-black dark:text-white text-3xl'>
          reminisce<span
            class='[-webkit-background-clip:text] bg-gradient-to-tr from-main-3 via-main-4 to-main-2 text-transparent'
            >labs</span
          >
        </div>
      </div>
      <div class='text-xl  mb-2'>
        <span
          class='[-webkit-background-clip:text] bg-gradient-to-tr from-main-3 via-main-4 to-main-2 text-transparent'
        >
        Plug and Play Scalable Metaverse Labs
        </span>
      </div>
    </div>
    <!-- contact -->
    <div class='w-full md:grid md:justify-center'>
      <h4 class='text-lg mb-4 font-semibold text-black dark:text-white'>Contact Us</h4>
      <div class='flex space-x-1 items-center mb-2'>
        <Icon name='mdi:email' class='h-5 w-5' />
        <span
          >Email: <a href='mailto:contact@reminiscelabs.com' class='hover:text-main-1 hover:underline'
            >contact@reminiscelabs.com</a
          ></span
        >
      </div>
      
      <div class='flex space-x-1 items-center mb-2'>
        <Icon name='mdi:phone' class='h-5 w-5' />
        <span>US: <a href='+12693593308' class='hover:text-main-1 hover:underline'>+1 269 359 3308</a></span>
      </div>
    </div>
    <!-- follow -->
    <div class='w-full md:grid md:justify-center'>
      <h4 class='text-lg mb-4 font-semibold text-black dark:text-white'>Follow Us</h4>
      <div class='flex space-x-1.5'>
        <a
          href='/'
          aria-label='facebook'
          class='bg-light-2 dark:bg-dark-3 rounded-full w-12 h-12 grid place-content-center'
        >
          <Icon name='mdi:facebook' class='h-5 w-5' />
        </a>
        <a
          href='/'
          aria-label='twitter'
          class='bg-light-2 dark:bg-dark-3 rounded-full w-12 h-12 grid place-content-center'
        >
          <Icon name='mdi:twitter' class='h-5 w-5' />
        </a>
        <a
          href='/'
          aria-label='linkedin'
          class='bg-light-2 dark:bg-dark-3 rounded-full w-12 h-12 grid place-content-center'
        >
          <Icon name='mdi:linkedin' class='h-5 w-5' />
        </a>
        <a
          href='/'
          aria-label='instagram'
          class='bg-light-2 dark:bg-dark-3 rounded-full w-12 h-12 grid place-content-center'
        >
          <Icon name='mdi:instagram' class='h-5 w-5' />
        </a>
        <!-- <a
          href='/'
          aria-label='youtube'
          class='bg-light-2 dark:bg-dark-3 rounded-full w-12 h-12 grid place-content-center'
        >
          <Icon name='mdi:youtube' class='h-5 w-5' />
        </a> -->
      </div>
    </div>
  </div>
</footer>
